
#showbox{
	min-height: 80vh;
	background:url('../../img/home.jpg') no-repeat 0 -400px;
}

.bordes{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.moneda:before{content:"U$S"}
.moneda:after{content:"/Mes"}

.total:before{content:"U$S"}
.total:after{content:".-"}


.verde{
    color: #4caf50;
}

.rojo{
    color: #f44336;
}

#hijoUno{background-color:#eeeeee;}
#hijoDos{background-color:#eeeeee;}
#hijoTres{background-color:#eeeeee;}
/*---------------*/

/*.parallax-container {
      height: 70vh;
    }*/
    
.modalform {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 90%; /*70%*/
  width: 75%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
/*STICKY FOOTER*/
/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  */

/*#tb_content{*/
/*        position: relative;*/
/*        left: 5;*/
/*        right: 5;*/
/*        width: 90%;*/
/*        margin-right: 45%;*/
/*    }*/
/*    .ocultar{*/
/*        display: none;*/
/*    }*/
    
/*    .resaltar{*/
/*        background-color: green;*/
/*    }*/